<div id="nautilus_subnav">
	<div class="tabs">
		<p id="tabsLeft"><a href="javascript:;">休闲<i></i></a></p>
		<p id="tabsRight"><a href="javascript:;">商务<i></i></a></p>
	</div>
	<div class="tabs_meun">
		<div class="left">
			<ul class="tabsLeft_meun">
			<li><a href="javascript:;">新品</a></li>
			<li><a href="javascript:;">牛津纺</a></li>
			<li><a href="javascript:;">法兰绒</a></li>
			<li><a href="javascript:;">青年布</a></li>
			<li><a href="javascript:;">麻</a></li>
			<li><a href="javascript:;">特惠</a></li>
		</ul>
		<p><img src="/img/blouse/chpdg_03_01.jpg"></p>
		</div>
		<div class="right">
			<ul class="tabsRight_meun">
				<li><a href="javascript:;">新品</a></li>
				<li><a href="javascript:;">商务短袖</a></li>
				<li><a href="javascript:;">商务通勤</a></li>
				<li><a href="javascript:;">商务休闲</a></li>
				<li><a href="javascript:;">高支</a></li>
				<li><a href="javascript:;">特惠</a></li>
			</ul>
			<p class="right_img"><img src="/img/blouse/xlfjgb7p.jpg"></p>
		</div>
	</div>
</div>
<div class="left_meun">
	<div class="left_product">
		<p class="left_img"><img src="/img/blouse/chpdg_03_02.jpg"></p>
		<ul id="xinpin">
			<script type="text/html" id="pro-template">
			{{each blouse_webpage}}
				<li>
					<p class="pic"><img src="{{$value.img}}"></p>
					<p class="name"><a href="javascript:;">{{$value.name}}</a></p>
					<p class="price"><a href="javascript:;">￥{{$value.price}}</a></p>
					<p class="img"><img src="/img/blouse/new3323.png"></p>
					<p class="special">
						<a href="javascript:;" class="tehui">特惠</a>
						<a href="javascript:;" class="sprice">￥198</a>
					</p>
				</li>
			{{/each}}
			</script>
		</ul>
	</div>
	<div class="product_shirt">
		<p class="niujinfan"><img src="/img/blouse/chpdg_10.jpg"></p>
		<ul id="niujinfan">
			<script type="text/html" id="pro-templatet">
			{{each blouse_shirt}}
				<li>
					<p class="pic"><img src="{{$value.img}}"></p>
					<p class="name"><a href="javascript:;">{{$value.name}}</a></p>
					<p class="price"><a href="javascript:;">￥{{$value.price}}</a></p>
					<p class="img"><img src="/img/blouse/new3323.png"></p>
					<p class="special">
						<a href="javascript:;" class="tehui">特惠</a>
						<a href="javascript:;" class="sprice">￥198</a>
					</p>
				</li>
			{{/each}}
			</script>
		</ul>
	</div>
	<div class="product_shirt2">
		<p class="caroset"><img src="/img/blouse/chpdg_20.jpg"></p>
		<ul id="product_caroset">
			<script type="text/html" id="pro-templates">
			{{each blouse_caroset}}
				<li>
					<p class="pic"><img src="{{$value.img}}"></p>
					<p class="name"><a href="javascript:;">{{$value.name}}</a></p>
					<p class="price"><a href="javascript:;">￥{{$value.price}}</a></p>
					<p class="img"><img src="/img/blouse/new3323.png"></p>
					<p class="special">
						<a href="javascript:;" class="tehui">特惠</a>
						<a href="javascript:;" class="sprice">￥198</a>
					</p>
				</li>
			{{/each}}
			</script>
		</ul>
	</div>
	<div class="product_washableCotton">
		<p class="washableCotton"><img src="/img/blouse/sxmcs.jpg"></p>
		<ul id="product_washable">
			<script type="text/html" id="pro-templatef">
			{{each blouse_washablecotton}}
				<li>
					<p class="pic"><img src="{{$value.img}}"></p>
					<p class="name"><a href="javascript:;">{{$value.name}}</a></p>
					<p class="price"><a href="javascript:;">￥{{$value.price}}</a></p>
					<p class="img"><img src="/img/blouse/new3323.png"></p>
					<p class="special">
						<a href="javascript:;" class="tehui">特惠</a>
						<a href="javascript:;" class="sprice">￥198</a>
					</p>
				</li>
			{{/each}}
			</script>
		</ul>
	</div>
	<div class="product_chambray">
		<p class="chambray"><img src="/img/blouse/chpdg_14.jpg"></p>
		<ul id="productChambray">
			<script type="text/html" id="pro-template">
			{{each blouse_webpage}}
				<li>
					<p class="pic"><img src="{{$value.img}}"></p>
					<p class="name"><a href="javascript:;">{{$value.name}}</a></p>
					<p class="price"><a href="javascript:;">￥{{$value.price}}</a></p>
					<p class="img"><img src="/img/blouse/new3323.png"></p>
					<p class="special">
						<a href="javascript:;" class="tehui">特惠</a>
						<a href="javascript:;" class="sprice">￥198</a>
					</p>
				</li>
			{{/each}}
			</script>
		</ul>
	</div>
	<div class="product_blouse">
		<p class="shirt"><img src="/img/blouse/2016.09_02.jpg"></p>
		<ul id="productShirt">
			<script type="text/html" id="pro-templatex">
			{{each blouse_washableproductShir}}
				<li>
					<p class="pic"><img src="{{$value.img}}"></p>
					<p class="name"><a href="javascript:;">{{$value.name}}</a></p>
					<p class="price"><a href="javascript:;">￥{{$value.price}}</a></p>
					<p class="img"><img src="/img/blouse/new3323.png"></p>
					<p class="special">
						<a href="javascript:;" class="tehui">特惠</a>
						<a href="javascript:;" class="sprice">￥198</a>
					</p>
				</li>
			{{/each}}
			</script>
		</ul>
	</div>
</div>
<div class="right_meun">
	<div class="right_product">
		<ul id="newProduct">
			<script type="text/html" id="pro-templateone">
			{{each blouse_newshirt}}
				<li>
					<p class="pic"><img src="{{$value.img}}"></p>
					<p class="name"><a href="javascript:;">{{$value.name}}</a></p>
					<p class="price"><a href="javascript:;">￥{{$value.price}}</a></p>
					<p class="img"><img src="/img/blouse/new3323.png"></p>
					<p class="special">
						<a href="javascript:;" class="tehui">特惠</a>
						<a href="javascript:;" class="sprice">￥198</a>
					</p>
				</li>
			{{/each}}
			</script>
		</ul>
	</div>
	<div class="right_business">
		<p class="shirt"><img src="/img/blouse/swtq.jpg"></p>
		<ul id="product_business">
			<script type="text/html" id="pro-templatetwo">
			{{each blouse_business}}
				<li>
					<p class="pic"><img src="{{$value.img}}"></p>
					<p class="name"><a href="javascript:;">{{$value.name}}</a></p>
					<p class="price"><a href="javascript:;">￥{{$value.price}}</a></p>
					<p class="img"><img src="/img/blouse/new3323.png"></p>
					<p class="special">
						<a href="javascript:;" class="tehui">特惠</a>
						<a href="javascript:;" class="sprice">￥198</a>
					</p>
				</li>
			{{/each}}
			</script>
		</ul>
	</div>
	<div class="right_businessLeisure">
		<p class="shirt"><img src="/img/blouse/cstt.jpg"></p>
		<ul id="product_leisure">
			<script type="text/html" id="pro-templatethree">
			{{each blouse_business}}
				<li>
					<p class="pic"><img src="{{$value.img}}"></p>
					<p class="name"><a href="javascript:;">{{$value.name}}</a></p>
					<p class="price"><a href="javascript:;">￥{{$value.price}}</a></p>
					<p class="img"><img src="/img/blouse/new3323.png"></p>
					<p class="special">
						<a href="javascript:;" class="tehui">特惠</a>
						<a href="javascript:;" class="sprice">￥198</a>
					</p>
				</li>
			{{/each}}
			</script>
		</ul>
	</div>
	<div class="right_businessGaozhi">
		<p class="shirt"><img src="/img/blouse/gz.jpg"></p>
		<ul id="product_gaozhi">
			<script type="text/html" id="pro-templatefour">
			{{each blouse_newshirt}}
				<li>
					<p class="pic"><img src="{{$value.img}}"></p>
					<p class="name"><a href="javascript:;">{{$value.name}}</a></p>
					<p class="price"><a href="javascript:;">￥{{$value.price}}</a></p>
					<p class="img"><img src="/img/blouse/new3323.png"></p>
					<p class="special">
						<a href="javascript:;" class="tehui">特惠</a>
						<a href="javascript:;" class="sprice">￥198</a>
					</p>
				</li>
			{{/each}}
			</script>
		</ul>
	</div>
	<div class="right_businessLongshirt">
		<p class="shirt"><img src="/img/blouse/cxcs.jpg"></p>
		<p class="long"><img src="/img/blouse/xfl.jpg"></p>
		<ul id="product_longshirt">
			<script type="text/html" id="pro-templatefive">
			{{each blouse_business}}
				<li>
					<p class="pic"><img src="{{$value.img}}"></p>
					<p class="name"><a href="javascript:;">{{$value.name}}</a></p>
					<p class="price"><a href="javascript:;">￥{{$value.price}}</a></p>
					<p class="img"><img src="/img/blouse/new3323.png"></p>
					<p class="special">
						<a href="javascript:;" class="tehui">特惠</a>
						<a href="javascript:;" class="sprice">￥198</a>
					</p>
				</li>
			{{/each}}
			</script>
		</ul>
		<p class="Long"><img src="/img/blouse/ljk.jpg"></p>
		<ul id="product_longshirtt">
			<script type="text/html" id="pro-templatefive">
			{{each blouse_business}}
				<li>
					<p class="pic"><img src="{{$value.img}}"></p>
					<p class="name"><a href="javascript:;">{{$value.name}}</a></p>
					<p class="price"><a href="javascript:;">￥{{$value.price}}</a></p>
					<p class="img"><img src="/img/blouse/new3323.png"></p>
					<p class="special">
						<a href="javascript:;" class="tehui">特惠</a>
						<a href="javascript:;" class="sprice">￥198</a>
					</p>
				</li>
			{{/each}}
			</script>
		</ul>
		<p class="Long2"><img src="/img/blouse/wsl.jpg"></p>
		<ul id="product_longshirts">
			<script type="text/html" id="pro-templatefive">
			{{each blouse_business}}
				<li>
					<p class="pic"><img src="{{$value.img}}"></p>
					<p class="name"><a href="javascript:;">{{$value.name}}</a></p>
					<p class="price"><a href="javascript:;">￥{{$value.price}}</a></p>
					<p class="img"><img src="/img/blouse/new3323.png"></p>
					<p class="special">
						<a href="javascript:;" class="tehui">特惠</a>
						<a href="javascript:;" class="sprice">￥198</a>
					</p>
				</li>
			{{/each}}
			</script>
		</ul>
	</div>
	<div class="right_businessshort">
		<p class="shirt"><img src="/img/blouse/dx.jpg"></p>
		<p class="sleeve"><img src="/img/blouse/xfl.jpg"></p>
		<ul id="product_sleeveshort">
			<script type="text/html" id="pro-templatefive">
			{{each blouse_business}}
				<li>
					<p class="pic"><img src="{{$value.img}}"></p>
					<p class="name"><a href="javascript:;">{{$value.name}}</a></p>
					<p class="price"><a href="javascript:;">￥{{$value.price}}</a></p>
					<p class="img"><img src="/img/blouse/new3323.png"></p>
					<p class="special">
						<a href="javascript:;" class="tehui">特惠</a>
						<a href="javascript:;" class="sprice">￥198</a>
					</p>
				</li>
			{{/each}}
			</script>
		</ul>
		<p class="sshort"><img src="/img/blouse/ljk.jpg"></p>
		<ul id="product_sleeveshortt">
			<script type="text/html" id="pro-templatefive">
			{{each blouse_business}}
				<li>
					<p class="pic"><img src="{{$value.img}}"></p>
					<p class="name"><a href="javascript:;">{{$value.name}}</a></p>
					<p class="price"><a href="javascript:;">￥{{$value.price}}</a></p>
					<p class="img"><img src="/img/blouse/new3323.png"></p>
					<p class="special">
						<a href="javascript:;" class="tehui">特惠</a>
						<a href="javascript:;" class="sprice">￥198</a>
					</p>
				</li>
			{{/each}}
			</script>
		</ul>
	</div>
	<div class="right_businessdiscounts">
		<p class="shirt"><img src="/img/blouse/th.jpg"></p>
		<ul id="product_discounts">
			<script type="text/html" id="pro-templateone">
			{{each blouse_newshirt}}
				<li>
					<p class="pic"><img src="{{$value.img}}"></p>
					<p class="name"><a href="javascript:;">{{$value.name}}</a></p>
					<p class="price"><a href="javascript:;">￥{{$value.price}}</a></p>
					<p class="img"><img src="/img/blouse/new3323.png"></p>
					<p class="special">
						<a href="javascript:;" class="tehui">特惠</a>
						<a href="javascript:;" class="sprice">￥198</a>
					</p>
				</li>
			{{/each}}
			</script>
		</ul>
	</div>
</div>