<div class="foot_vancl">
	<div class="ft_vancl">
		<div class="ft_tomer">
			<ul>
				<li><p><a href="javascript:;"><img src="/img/index/onli.png"></a></p><p><a href="javascript:;"> 7X9小时在线客服</a></p></li>
				<li>
					<p>
						<a href="javascript:;"><img src="/img/index/seven.png"></a>
					</p>
					<p><a href="javascript:;">7天内退货</a></br><a href="javascript:;"> 购物满199元免运费</a></p>
				</li>
				<li>
					<p>
						<a href="javascript:;"><img src="/img/index/w.jpg"></a>
					</p>
					<p><a href="javascript:;"> 扫描下载<em>凡客</em>客户端</a></p>
				</li>
			</ul>
		</div>
		<div class="ft_thers">
			<ul>
				<li><a href="javascript:;">关于凡客</a></li>
				<li><a href="javascript:;">新手指南</a></li>
				<li><a href="javascript:;">配送范围及时间</a></li>
				<li><a href="javascript:;">支付方式</a></li>
				<li><a href="javascript:;">售后服务</a></li>
				<li><a href="javascript:;">帮助中心</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="ft_bt">
	<p> Copyright 2007 - 2018 vancl.com All Rights Reserved 京ICP证100557号 京公网安备11011502002400号 出版物经营许可证新出发京批字第直110138号</p>
	<p> 凡客诚品（北京）科技有限公司</p>
	<p>
		<a href="javascript:;"><img src="
			/img/index/t1.jpg"></a><a href="javascript:;"><img src="
			/img/index/t2.jpg"></a>
			<a href="javascript:;"><img src="
			/img/index/t3.jpg"></a><a href="javascript:;"><img src="
			/img/index/t4.jpg"></a><a href="javascript:;"><img src="
			/img/index/t5.jpg"></a><a href="javascript:;"><img src="
			/img/index/t6.jpg"></a>
	</p>
</div>