<div class="top_bar">
	<div class="top_ct">
			<p>
				您好,欢迎光临凡客诚品！<a href="http://localhost:1314/html/login.html" id="login">登录</a>
				<i id="welcom"></i>
				<a href="http://localhost:1314/html/register.html" id="register">注册</a>
				<span id="quit">退出登录</span>
				<a href="javascript:;">我的订单</a>
				<a href="javascript:;">网站公告</a>
				<a href="javascript:;" class="tweixin"><img src="/img/index/w1.jpg"></a>
				<a href="javascript:;" id="weibo"><img src="/img/index/w2.jpg"></a>
				<a href="javascript：;" id="weixin"><img src="/img/index/weixin.jpg"></a>
			</p>
	</div>
</div>
<div class="top_bar2">
	<div class="top_serch">
		<div class="top_tp">
			<div class="form">
				<p>
					<input type="text" placeholder="搜索"">
					<input type="button" value="搜索">
					<a href="http://localhost:1314/html/car.html"><i>购物车</i><span></span></a>
				</p>
			</div>
			<p class="p">
				热门搜索：<a href="javascript:;">免烫衬衫</a><a href="javascript:;">水柔绵</a><a href="javascript:;">熊本熊</a><a href="javascript:;">麻衬衫</a><a href="javascript:;">帆布鞋</a><a href="javascript:;">运动户外</a><a href="javascript:;">家居</a>
			</p>
		</div>
	</div>
</div>
<div class="top_logo">
	<div class="top_bar3">
		<p><a href="http://localhost:1314"><img src="/img/index/logo.png"></a></p>
		<ul class="menu">
			<li class="vancl_option1"><a href="http://localhost:1314/">首页</a></li>
			<li class="vancl_option2">
				<a href="http://localhost:1314/html/blouse.html" class="vancl_a"><i>
					衬衫
				</i>
				<img src="/img/index/icon_hot.png"></a>
					<ul class="vancl_second" ">
					<span></span>
					<li><a href="javascript：;">免烫</a></li>
					<li><a href="javascript：;">易打理</a></li>
					<li><a href="javascript：;">休闲</a></li>
					<li><a href="javascript：;">高支</a></li>
					<li><a href="javascript：;">法兰绒</a></li>
					<li><a href="javascript：;">牛津纺</a></li>
					<li><a href="javascript：;">青年布</a></li>
					<li><a href="javascript：;">牛仔</a></li>
					<li><a href="javascript：;">麻</a></li>
					<li><a href="javascript：;">水洗棉</a></li>
					<li><a href="javascript：;">泡泡纱</a></li>
				 </ul>
			</li>
			<li class="vancl_option3">
				<a href="http://localhost:1314/html/tshirt.html">T恤</a>
				<ul class="vancl_thirdly">
					<span></span>
					<li><a href="javascript：;">水柔棉</a></li>
					<li><a href="javascript：;">长袖T恤</a></li>
					<li><a href="javascript：;">熊本熊</a></li>
					<li><a href="javascript：;">全棉冰爽</a></li>
					<li><a href="javascript：;">POLO衫</a></li>
					<li><a href="javascript：;">字</a></li>
					<li><a href="javascript：;">山鸟叔</a></li>
					<li><a href="javascript：;">小宇宙</a></li>
					<li><a href="javascript：;">电影台词</a></li>
					<li><a href="javascript：;">科学怪人</a></li>
					<li><a href="javascript：;">运动T恤</a></li>
					<li><a href="javascript：;">花花公子</a></li>
				 </ul>
			</li>
			<li class="vancl_option4">
				<a href="javascript:;">卫衣</a>
				<ul class="vancl_fourthly">
					<span></span>
					<li><a href="javascript：;">熊本熊</a></li>
					<li><a href="javascript：;">开衫</a></li>
					<li><a href="javascript：;">连帽</a></li>
					<li><a href="javascript：;">圆领</a></li>
					<li><a href="javascript：;">水柔棉</a></li>
				 </ul>
			</li>
			<li class="vancl_option5">
				<a href="javascript:;">外套</a>
				<ul class="vancl_fifth">
					<span></span>
					<li><a href="javascript：;">运动户外</a></li>
					<li><a href="javascript：;">皮肤衣</a></li>
					<li><a href="javascript：;">西服</a></li>
					<li><a href="javascript：;">C9设计款</a></li>
					<li><a href="javascript：;">夹克</a></li>
					<li><a href="javascript：;">nautilus</a></li>
					<li><a href="javascript：;">大衣</a></li>
					<li><a href="javascript：;">羽绒服</a></li>
				 </ul>
			</li>
			<li class="vancl_option6">
				<a href="javascript:;">针织衫</a>
				<ul class="vancl_sixth">
					<span></span>
					<li><a href="javascript：;">空调衫</a></li>
					<li><a href="javascript：;">棉线衫</a></li>
					<li><a href="javascript：;">羊毛衫</a></li>
				 </ul>
			</li>
			<li class="vancl_option7">
				<a href="javascript:;">裤装</a>
				<ul class="vancl_seventh">
					<span></span>
					<li><a href="javascript：;">沙滩裤</a></li>
					<li><a href="javascript：;">针织裤</a></li>
					<li><a href="javascript：;">休闲裤</a></li>
					<li><a href="javascript：;">牛仔裤</a></li>
					<li><a href="javascript：;">运动裤</a></li>
				 </ul>
			</li>
			<li class="vancl_option8">
				<a href="javascript:;">鞋</a>
				<ul class="vancl_eighth">
					<span></span>
					<li><a href="javascript：;">复古跑鞋</a></li>
					<li><a href="javascript：;">帆布鞋</a></li>
					<li><a href="javascript：;">休闲鞋</a></li>
				 </ul>
			</li>
			<li class="vancl_option9">
				<a href="javascript:;">家居配饰</a>
				<ul class="vancl_ninth">
					<span></span>
					<li><a href="javascript：;">床品套件</a></li>
					<li><a href="javascript：;">被子</a></li>
					<li><a href="javascript：;">枕</a></li>
					<li><a href="javascript：;">家居服</a></li>
					<li><a href="javascript：;">家居鞋</a></li>
					<li><a href="javascript：;">背提包</a></li>
					<li><a href="javascript：;">拉杆箱</a></li>
					<li><a href="javascript：;">皮带钱包</a></li>
					<li><a href="javascript：;">帽子</a></li>
					<li><a href="javascript：;">毛巾</a></li>
				 </ul>
			</li>
			<li class="vancl_option10">
				<a href="javascript:;">内衣袜品</a>
				<ul class="vancl_tenth">
					<span></span>
					<li><a href="javascript：;">船袜</a></li>
					<li><a href="javascript：;">中筒袜</a></li>
					<li><a href="javascript：;">连裤袜</a></li>
					<li><a href="javascript：;">内衣裤</a></li>
					<li><a href="javascript：;">围巾披肩</a></li>
					<li><a href="javascript：;">童装</a></li>
				 </ul>
			</li>
		</ul>
	</div>
</div>
<div class="vancl_sidebar">
	<ul>
		<li><a href="javascript:;"></a></li>
		<li><a href="javascript:;"></a></li>
		<li id="top"><a href="javascript:;"></a></li>
	</ul>
</div>