<div id="vancl_scroll">
	<ul>
		<li><img src="/img/slideshow/t1.jpg"></li>
		<li><img src="/img/slideshow/t2.jpg"></li>
		<li><img src="/img/slideshow/t3.jpg"></li>
		<li><img src="/img/slideshow/t4.jpg"></li>
		<li><img src="/img/slideshow/t5.jpg"></li>
		<li><img src="/img/slideshow/t6.jpg"></li>
	</ul>
	<ol>
	</ol>
	<a href="javascript:;" id="left"></a>
	<a href="javascript:;" id="right"></a>
</div>
<div class="sc_img">
	<a href="javascript:;"><img src="/img/index/j1.jpg"></a>
</div>
<div class="sc_comm">
	<a href="javascript:;" class="sc_a"><img src="/img/index/5.jpg"></a>
	<ul class="com_ul">
		<li><a href="javascript:;"><img src="/img/index/9.jpg"></a></li>
		<li><a href="javascript:;"><img src="/img/index/1g.jpg"></a></li>
		<li><a href="javascript:;"><img src="/img/index/2g.jpg"></a></li>
		<li><a href="javascript:;"><img src="/img/index/4.jpg"></a></li>
	</ul>
	<div class="sc_commodity">
		<p class="cm_p">优选推荐</p>
		<ul class="cm_ul">
			<li class="cm_ul_li1">
				<p class="li1_p1"><a href="javascript:;"><img src="/img/index/p-1.jpg"></a></p>
				<p class="li1_p2"><i>4.0日式免烫衬衫</i><a href="javascript:;">充值购买更优惠</a></p>
			</li>
			<li class="cm_ul_li2">
				<p class="li2_1">
					<a href="javascript:;" class="a"><img src="/img/index/pc-srm.jpg"></a>
					<a href="javascript:;" class="a2">
						<i>水柔棉开衫卫衣</i>
						<i>充值购买相当于&nbsp;&nbsp;169元</i>
					</a>
				</p>
				<p class="li2_2">
					<a href="javascript:;" class="a"><img src="/img/index/pc-cx.jpg"></a>
					<a href="javascript:;" class="a2">
						<i>潮鞋来袭</i>
						<i>充值购买更优惠</i>
					</a>
				</p>
			</li>
			<li class="cm_ul_li3">
				<p class="li3_p1"><a href="javascript:;"><img src="/img/index/hw.jpg"></a></p>
				<p class="li3_p2"><i>4.0日式免烫衬衫</i><a href="javascript:;">充值购买更优惠</a></p>
			</li>
		</ul>
		<ul class="cm_ul2">
			<li class="cm_ul_li1">
				<p class="li1_p1"><a href="javascript:;"><img src="/img/index/pc-njf.jpg"></a></p>
				<p class="li1_p2"><i>牛津纺衬衫</i><a href="javascript:;">充值购买更优惠</a></p>
			</li>
			<li class="cm_ul_li2">
				<p class="li2_1">
					<a href="javascript:;" class="a"><img src="/img/index/wy.jpg"></a>
					<a href="javascript:;" class="a2">
						<i>熊本熊卫衣</i>
						<i>充值购买更优惠</i>
					</a>
				</p>
				<p class="li2_2">
					<a href="javascript:;" class="a"><img src="/img/index/pc-flr-03.jpg"></a>
					<a href="javascript:;" class="a2">
						<i>初秋精选</i>
						<i>充值购买更优惠</i>
					</a>
				</p>
			</li>
			<li class="cm_ul_li3">
				<p class="li3_p1"><a href="javascript:;"><img src="/img/index/pc-wt.jpg"></a></p>
				<p class="li3_p2"><i>外套</i><a href="javascript:;">充值购买更优惠</a></p>
			</li>
		</ul>
	</div>
	<div class="pants_recommend">
		<p class="cm_p">下装推荐</p>
		<ul class="pt_ul">
			<li class="pt_li1">
				<p class="pt_p1"><a href="javascript:;"><img src="/img/index/pc-xxk.jpg"></a></p>
				<p class="pt_p2">
					<i>休闲裤</i>
					<a href="javascript:;">充值购买相当于&nbsp;&nbsp;79元起</a>
				</p>
			</li>
			<li class="pt_li2">
				<p class="pt2_p1"><a href="javascript:;"><img src="/img/index/pc-zzk.jpg"></a></p>
				<p class="pt2_p2">
					<i>针织裤</i>
					<a href="javascript:;">充值购买相当于&nbsp;&nbsp;49元起</a>
				</p>
			</li>
			<li class="pt_li3">
				<p class="pt3_p1"><a href="javascript:;"><img src="/img/index/pc4.jpg"></a></p>
				<p class="pt3_p2">
					<i>弹力休闲直筒裤</i>
					<a href="javascript:;">充值购买相当于&nbsp;&nbsp;124元</a>
				</p>
			</li>
			<li class="pt_li4">
				<p class="pt4_p1"><a href="javascript:;"><img src="/img/index/s.jpg"></a></p>
				<p class="pt4_p2">
					<i>轻弹水洗休闲裤</i>
					<a href="javascript:;">充值购买相当于&nbsp;&nbsp;99元</a>
				</p>
			</li>
		</ul>
	</div>
	<div class="pt_commodity">
		<p class="pt_com_p">更多精品</p>
		<ul class="pt_cmd_ul">
			<li class="cmd_ul_li1"><a href="classjavascript:;"><img src="/img/index/pc-jj-01.jpg"></a></li>
			<li class="cmd_ul_li2"><a href="javascript:;"><img src="/img/index/pc-fbx-01.jpg"></a></li>
			<li class="cmd_ul_li3"><a href="javascript:;"><img src="/img/index/pc-mj-01.jpg"></a></li>
			<li class="cmd_ul_li4"><a href="javascript:;"><img src="/img/index/pc-wp-01.jpg"></a></li>
			<li class="cmd_ul_li5"><a href="javascript:;"><img src="/img/index/pc-xb-01.jpg"></a></li>
		</ul>
	</div>
</div>
