<div class="vanscl_logo">
	<p class="logo"><a href="http://localhost:1314/"><img src="/img/Tshirt/vt_header_logo.png"></a></p>
	<ul>
		<li><a href="javascript:;">系列</a></li>
		<li><a href="javascript:;">新品榜</a></li>
		<li><a href="javascript:;">现货榜</a></li>
		<li><a href="javascript:;">销量榜</a></li>
		<li><a href="javascript:;">男款</a></li>
		<li><a href="javascript:;">女款</a></li>
		<li><a href="javascript:;">水柔棉</a></li>
		<li><a href="javascript:;">印花</a></li>
		<li><a href="javascript:;">速干</a></li>
	</ul>
	<p class="img"><img src="/img/Tshirt/xbx1200x5762.jpg"></p>
	<p class="sidebar"><img src="/img/Tshirt/go2top.png"></p>
</div>
<div class="vancl_Tshirtxbx">
	<p class="tshirt_xbx"><img src="/img/Tshirt/xbxt .jpg"></p>
</div>
<div class="vancl_Tshirt">
	<p class="tshirt_tx"><img src="/img/Tshirt/xbx.jpg"></p>
	<ul id="proList">
		<script type="text/html" id="list-template">
			{{each product item i}}
				<li>
					<p class="pic"><a href="http://localhost:1314/html/detailPage.html?id={{ item.id }}"><img src="{{item.img}}"></a></p>
					<p class="name">{{item.name}}</p>
					<p class="pirce"><i>￥</i>{{item.price}}</p>
					<p class="cname">{{item.cname}}</p>
					<a href="http://localhost:1314/html/detailPage.html?id={{ item.id }}">查看详情</a>
					<p class="Img"><img src="/img/Tshirt/new3323.png"></p>
					<p class="special">
						<a href="javascript:;" class="tehui">特惠</a>
						<a href="javascript:;" class="sprice">￥58</a>
					</p>
				</li>
			{{/each}}
		</script>
	</ul>
</div>
<div class="vancl_artist">
	<p class="tshirt_artist"><img src="/img/Tshirt/vtpdfl-04.jpg"></p>
	<ul id="proList">
		<li>
			<p class="pic"><img src="/img/Tshirt/01.jpg"></p>
			<p class="name">POLO衫 长绒棉 男款 浅果绿</p>
			<p class="pirce">¥78</p>
			<p class="cname"></p>
			<a href="/html/detail.html?id={{ item.id }}">查看详情</a>
			<p class="Img"><img src="/img/Tshirt/new3323.png"></p>
			<p class="special">
				<a href="javascript:;" class="tehui">特惠</a>
				<a href="javascript:;" class="sprice">￥58</a>
			</p>
		</li>
	</ul>
</div>
<div class="vancl_POLO">
	<p class="tshirt_POLO"><img src="/img/Tshirt/polo.jpg"></p>
	<ul id="proList">
		<li>
			<p class="pic"><img src="/img/Tshirt/01.jpg"></p>
			<p class="name">桑蚕丝混纺休闲条纹polo 1..</p>
			<p class="pirce">¥498</p>
			<p class="cname">充值购买相当于￥229</p>
			<a href="/html/detail.html?id={{ item.id }}">查看详情</a>
			<p class="Img"><img src="/img/Tshirt/new3323.png"></p>
			<p class="special">
				<a href="javascript:;" class="tehui">特惠</a>
				<a href="javascript:;" class="sprice">￥458</a>
			</p>
		</li>
	</ul>
</div>
<div class="vancl_runTshirt">
	<p class="tshirt_runTshirt"><img src="/img/Tshirt/vt_37.jpg"></p>
</div>
<div class="vancl_waistcoat">
	<p class="tshirt_waistcoat"><img src="/img/Tshirt/1.jpg"></p>
	<ul id="proList">
		<li>
			<p class="pic"><img src="/img/Tshirt/01.jpg"></p>
			<p class="name">背心 精梳棉 莱卡 男款 白色</p>
			<p class="pirce">¥148</p>
			<p class="cname">充值购买相当于￥39</p>
			<a href="/html/detail.html?id={{ item.id }}">查看详情</a>
			<p class="Img"><img src="/img/Tshirt/new3323.png"></p>
			<p class="special">
				<a href="javascript:;" class="tehui">特惠</a>
				<a href="javascript:;" class="sprice">￥78</a>
			</p>
		</li>
	</ul>
</div>